.notify {
    position: absolute;
    min-width: 26px;
    height: 20px;
    background-color: var(--primary);
    color: var(--white);
    border-radius: var(--search-border-radius);
    font-size: 1.4rem;
    font-weight: 600;
    top: -2px;
    right: 3px;
    line-height: 2.1rem;
    text-align: center;
}
